# Core libraries
numpy==1.26.4
pandas==2.3.3
scipy==1.15.3

# Visualization
matplotlib==3.10.8
seaborn==0.13.2
plotly==6.5.0
folium==0.20.0
streamlit-folium==0.26.1

# Machine Learning
scikit-learn==1.8.0
lightgbm==4.6.0
xgboost==3.2.0

# Time Series
statsmodels==0.14.6
pmdarima==2.1.1
mlforecast==1.0.2
statsforecast==2.0.3
utilsforecast==0.2.15

# Deployment
streamlit==1.52.2

# Model saving
joblib==1.5.3

# Utilities
tqdm==4.67.3
python-dateutil==2.9.0.post0
pytz==2025.2
